<div class="content">
	<div class="container-fluid">
		<div class="row">

			<!-- Profile Sidebar -->
			<div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
				<app-lateralmenu ></app-lateralmenu>
			</div>
			<!-- /Profile Sidebar -->

			<div class="col-md-7 col-lg-8 col-xl-9" *ngIf=" _uw.usertype=='patient'">
				<form  [formGroup]="ngFormUpdatePatientData" >		
					<div class="card">
						<div class="card-body">							
							<div class="row form-row">
								<div class="col-md-12">
									<div class="form-group">
										<div class="change-avatar">
											<div class="profile-img" [hidden]="uploading" *ngIf="patientSubmit.images[0]!==undefined">
												<img src="{{patientSubmit.images[0]}}" alt="User Image">
											</div>
												<div class="upload-img" [hidden]="uploading">
													<div class="change-photo-btn">
														<span><i class="fa fa-edit"></i> </span>
														<input  class="upload"(click)="upload()">
													</div>
										
												</div>
											 <ngx-file-picker [hidden]="!uploading"
								                [uploadType]="'multi'"
								                (validationError)= "onValidationError($event)"
								                [adapter]="adapter"
								                [fileExtensions]="['pdf', 'jpeg','jpg', 'png', 'PNG', 'mp4', 'css', 'docx', 'txt']"
								                (uploadSuccess)="onUploadSuccess($event)"
								                (removeSuccess)="onRemoveSuccess($event)"
								                [showeDragDropZone]="true"
								                [showPreviewContainer]="true"
								                [accept]="'image/*'"
								                (fileAdded)="onFileAdded($event)">
								            </ngx-file-picker> 
										</div>
									</div>
								</div>
								<div class="col-12 col-md-6">
									<div class="form-group ">
									<!-- 	<input type="text" class="form-control floating"> -->
									<label>Nombre de usuario</label>
										<input type="text" class="form-control floating" id="username" formControlName="username" placeholder="Nombre de usuario" [(ngModel)]="patientSubmit.username" [ngClass]="{'is-invalid': patientSubmitted && fval2.username.errors }"required disabled="disabled">

										<div *ngIf="patientSubmitted && fval2.username.errors" class="invalid-feedback">
											<div *ngIf="fval2.username.errors.required">
											Por favor proporcione un nombre de usuario valido
											</div>
										 
										</div>
									</div>
								</div>
								<div class="col-12 col-md-6">
										<div class="form-group ">
										<!-- 	<input type="text" class="form-control floating"> -->
										<label>Nombre </label>
											<input type="text" class="form-control floating" id="name" formControlName="name" placeholder="Nombre" [(ngModel)]="patientSubmit.name" [ngClass]="{'is-invalid': patientSubmitted && fval2.name.errors }"required disabled="disabled">

											<div *ngIf="patientSubmitted && fval2.name.errors" class="invalid-feedback">
												<div *ngIf="fval2.name.errors.required">
												El nombre es requerido
												</div>
											 
											</div>
										</div>
								</div>
								<div class="col-12 col-md-6">
										<div class="form-group ">
										<!-- 	<input type="text" class="form-control floating"> -->
										<label>Apellidos</label>
											<input type="text" class="form-control floating" id="surname" formControlName="surname" placeholder="Apellidos" [(ngModel)]="patientSubmit.surname" [ngClass]="{'is-invalid': patientSubmitted && fval2.surname.errors }"required >

											<div *ngIf="patientSubmitted && fval2.surname.errors" class="invalid-feedback">
												<div *ngIf="fval2.surname.errors.required">
												El apellido es requerido
												</div>
											 
											</div>
										</div>
								</div>
								<div class="col-12 col-md-6">
										<div class="form-group ">
										
										<label>Telefono</label>
											<input type="text" class="form-control floating" id="phone" formControlName="phone" placeholder="Telefono" [(ngModel)]="patientSubmit.phone" [ngClass]="{'is-invalid': patientSubmitted && fval2.phone.errors }"required >

											<div *ngIf="patientSubmitted && fval2.phone.errors" class="invalid-feedback">
												<div *ngIf="fval2.phone.errors.required">
												Indique por favor un numero de telefono valido
												</div>
											 
											</div>
										</div>
								</div>
								<div class="col-12">
										<div class="form-group ">
										
										<label>Direccion de domicilio</label>
											<input type="text" class="form-control floating" id="address" formControlName="address" placeholder="Domicilio" [(ngModel)]="patientSubmit.address" [ngClass]="{'is-invalid': patientSubmitted && fval2.address.errors }"required >

											<div *ngIf="patientSubmitted && fval2.address.errors" class="invalid-feedback">
												<div *ngIf="fval2.address.errors.required">
												La direccion es requerida
												</div>
											 
											</div>
										</div>
								</div>
							</div>
							
							<div class="submit-section submit-btn-bottom">
								<button class="btn btn-primary btn-block btn-lg login-btn" type="submit" [hidden]="!_uw.buttonDisabled" disabled="disabled" (click)="okUpdatePatient(patientSubmit)">Enviar</button>
								<button class="btn btn-primary btn-block btn-lg login-btn" type="submit" [hidden]="_uw.buttonDisabled" (click)="okUpdatePatient(patientSubmit)">Enviar</button>
							</div>
						</div>
					</div>

				</form>
			</div>

			<div class="col-md-7 col-lg-8 col-xl-9" *ngIf=" _uw.usertype=='dentist'">
				<form  [formGroup]="ngFormUpdateDentistData"  >		
					<div class="card">
						<div class="card-body">
							<h4 class="card-title">Información Personal</h4>
								<div class="row form-row">
									<div class="col-md-12">
										<div class="form-group">
											<div class="change-avatar">
												<div class="profile-img" [hidden]="uploading" *ngIf="dentistSubmit.images[0]!==undefined">
													<img src="{{dentistSubmit.images[0]}}" alt="User Image">
												</div>
												<div class="upload-img" [hidden]="uploading">
													<div class="change-photo-btn">
														<span><i class="fa fa-edit"></i> </span>
														<input  class="upload"(click)="upload()">
													</div>
												</div>
												 <ngx-file-picker [hidden]="!uploading"
									                [uploadType]="'multi'"
									                (validationError)= "onValidationError($event)"
									                [adapter]="adapter"
									                [fileExtensions]="['pdf', 'jpeg','jpg', 'png', 'PNG', 'mp4', 'css', 'docx', 'txt']"
									                (uploadSuccess)="onUploadSuccess($event)"
									                (removeSuccess)="onRemoveSuccess($event)"
									                [showeDragDropZone]="true"
									                [showPreviewContainer]="true"
									                [accept]="'image/*'"
									                (fileAdded)="onFileAdded($event)">
									            </ngx-file-picker> 
											</div>
										</div>
									</div>
									
									<div class="col-md-6">
										<div class="form-group ">
											<label>Nombre de usuario</label>
											<input type="text" class="form-control floating" id="username" formControlName="username" placeholder="Nombre de usuario" [(ngModel)]="dentistSubmit.username" [ngClass]="{'is-invalid': dentistSubmitted && fval.username.errors }"required disabled="disabled">
											<div *ngIf="dentistSubmitted && fval.username.errors" class="invalid-feedback">
												<div *ngIf="fval.username.errors.required">
												Por favor proporcione un nombre de usuario valido
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group ">
											<label>Nombres</label>
											<input type="text" class="form-control floating" id="name" formControlName="name" placeholder="Telefono" [(ngModel)]="dentistSubmit.name" [ngClass]="{'is-invalid': dentistSubmitted && fval.name.errors }" disabled="disabled" required>
											<div *ngIf="dentistSubmitted && fval.name.errors" class="invalid-feedback">
												<div *ngIf="fval.name.errors.required">
												Por favor proporcione un nombre valido
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group ">
											<label>Apellidos</label>
											<input type="text" class="form-control floating" id="surname" formControlName="surname" placeholder="Telefono" [(ngModel)]="dentistSubmit.surname" [ngClass]="{'is-invalid': dentistSubmitted && fval.surname.errors }"required>
											<div *ngIf="dentistSubmitted && fval.surname.errors" class="invalid-feedback">
												<div *ngIf="fval.surname.errors.required">
												Por favor proporcione un numero apellido valido
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group ">
											<label>Telefono</label>
											<input type="text" class="form-control floating" id="phone" formControlName="phone" placeholder="Telefono" [(ngModel)]="dentistSubmit.phone" [ngClass]="{'is-invalid': dentistSubmitted && fval.phone.errors }"required>
											<div *ngIf="dentistSubmitted && fval.phone.errors" class="invalid-feedback">
												<div *ngIf="fval.phone.errors.required">
												Por favor proporcione un numero de telefono valido
												</div>
											</div>
										</div>
									</div>
								
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-body">
								<h4 class="card-title">Sobre Mi</h4>
								<div class="form-group mb-0 ">
									<label>Biografía</label>
									<textarea class="form-control floating" id="about" formControlName="about" placeholder="Breve descripcion" [(ngModel)]="dentistSubmit.about" [ngClass]="{'is-invalid': dentistSubmitted && fval.about.errors }"required rows="5"></textarea>
									<div *ngIf="dentistSubmitted && fval.about.errors" class="invalid-feedback">
										<div *ngIf="fval.about.errors.required">
										Por favor proporcione informacion sobre usted
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-body">
								<h4 class="card-title">Información Profesional</h4>
								<div class="row form-row">
									<div class="col-md-12">
										<div class="form-group ">
											<label>Especialidades
											<span [hidden]="loaded">Loading...</span></label>
											<ng-multiselect-dropdown
										  [placeholder]="'Especialidades'"
										  [settings]="dropdownSettings"
										  [data]="dropdownList"
										  [(ngModel)]="selectedItems"
										  (onSelect)="onItemSelect($event)"(onDeSelect)="onItemDeSelect($event)"
										  (onSelectAll)="onSelectAll($event)"
										  [ngModelOptions]="{standalone: true}"
										>
										</ng-multiselect-dropdown>
										</div>
									</div>
								
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-body">
								<h4 class="card-title">Información de la Clínica</h4>
								<div class="row form-row">
							
									<div class="col-md-6">
										<div class="form-group ">
											<label>Nombre de la Clínica</label>
											<input type="text" class="form-control floating" id="clinicName" formControlName="clinicName" placeholder="Nombre de la clinica" [(ngModel)]="dentistSubmit.clinicName" [ngClass]="{'is-invalid': dentistSubmitted && fval.clinicName.errors }"required>
											<div *ngIf="dentistSubmitted && fval.clinicName.errors" class="invalid-feedback">
												<div *ngIf="fval.clinicName.errors.required">
												Por favor proporcione un nombre de clínica válido
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group ">
											<label>Domicilio de la Clínica</label>
											<input type="text" class="form-control floating" id="address" formControlName="address" placeholder="Direccion de clinica" [(ngModel)]="dentistSubmit.address" [ngClass]="{'is-invalid': dentistSubmitted && fval.address.errors }"required>
											<div *ngIf="dentistSubmitted && fval.address.errors" class="invalid-feedback">
												<div *ngIf="fval.address.errors.required">
												Por favor proporcione la direccion de la clinica
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>


						<div class="card">
								<div class="card-body">
									<h4 class="card-title">Educación</h4>
									<div class="experience-box">
										<ul class="experience-list">
											<li *ngFor="let aca of dentistSubmit.aca">
												<div class="experience-user">
													<div class="before-circle"></div>
												</div>
												<div class="experience-content">
													<div class="timeline-content">
													<a class="name">{{aca.inst}}</a>
													<div>{{aca.tittle}}</div>
													<span class="time">{{aca.date}}</span>
													</div>
												</div>
											</li>
										</ul>
									</div>

									<div class="education-info" [hidden]="!addEdu">
										<div class="row form-row education-cont">
											<div class="col-12 col-md-10 col-lg-11">
												<div class="row form-row">
													<div class="col-12 col-md-6 col-lg-4">
														<div class="form-group">
															<label>Titulación</label>
															<input type="text" class="form-control floating" id="newAcaTittle" formControlName="newAcaTittle" placeholder="Titulo" [(ngModel)]="newAcaTittle">
														</div>
													</div>
													<div class="col-12 col-md-6 col-lg-4">
														<div class="form-group">
															<label>Institución</label>
															<input type="text" class="form-control floating" id="newAcaInst" formControlName="newAcaInst" placeholder="Institucion"[(ngModel)]="newAcaInst">
														</div>
													</div>
													<div class="col-12 col-md-6 col-lg-4">
														<div class="form-group">
															<label>Año de finalización</label>
															<input type="text" class="form-control floating" id="newAcaDate" formControlName="newAcaDate" placeholder="Año de finalización" [(ngModel)]="newAcaDate">
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="add-more" >
										<a href="javascript:void(0);" class="add-education" [hidden]="!addEdu"  (click)="addAca()"><i class="fa fa-check"></i> Guardar</a>		
										<a (click)="addEduF()" class="add-education" style="cursor: pointer;" [hidden]="addEdu"  ><i class="fa fa-plus-circle"></i> Añadir más</a>
									</div>
								</div>
							</div>
						<!-- /Clinic Info -->
							<!-- Experience -->
							<div class="card">
								<div class="card-body">
									<h4 class="card-title">Experiencia</h4>
									<div class="experience-box">
										<ul class="experience-list">
											<li *ngFor="let lab of dentistSubmit.lab">
												<div class="experience-user">
												<div class="before-circle"></div>
												</div>
												<div class="experience-content">
												<div class="timeline-content">
												<a class="name">{{lab.tittle}}</a>
												<span class="time">{{lab.place}} {{lab.years}}</span>
												</div>
												</div>
											</li>									
										</ul>
									</div>
									<div class="experience-info" [hidden]="!addLab">
										<div class="row form-row experience-cont">
											<div class="col-12 col-md-10 col-lg-11">
												<div class="row form-row">
													<div class="col-12 col-md-6 col-lg-4">
														<div class="form-group">
															<label>Nombre de la Clínica</label>
															<input type="text" class="form-control floating" id="newLabPlace" formControlName="newLabPlace" placeholder="Lugar" [(ngModel)]="newLabPlace">
														</div>
													</div>
													<div class="col-12 col-md-6 col-lg-4">
														<div class="form-group">
															<label>Periodo </label>
															<input type="text" class="form-control floating" id="newLabYears" formControlName="newLabYears" placeholder="Periodo" [(ngModel)]="newLabYears">
														</div>
													</div>
													
													<div class="col-12 col-md-6 col-lg-4">
														<div class="form-group">
															<label>Cargo</label>
															<input type="text" class="form-control floating" id="newLabTittle" formControlName="newLabTittle" placeholder="Cargo" [(ngModel)]="newLabTittle">
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="add-more" >
										<a href="javascript:void(0);" class="add-education" [hidden]="!addLab"  (click)="addExp()"><i class="fa fa-check"></i> Guardar</a>		
										<a (click)="addLabF()" class="add-education" style="cursor: pointer;" [hidden]="addLab"  ><i class="fa fa-plus-circle"></i> Añadir más</a>
									</div>
								</div>
							</div>
							<!-- /Experience -->

							<!-- Awards -->
							<div class="card">
								<div class="card-body">
									<h4 class="card-title">Reconocimientos</h4>
									<div class="experience-box">
										<ul class="experience-list">
											<li *ngFor="let awa of dentistSubmit.awa">
												<div class="experience-user">
												<div class="before-circle"></div>
												</div>
												<div class="experience-content">
												<div class="timeline-content">
												<p class="exp-year">{{awa.date}}</p>
												<h4 class="exp-title">{{awa.award}}</h4>
												<p>{{awa.description}}</p>
												</div>
												</div>
											</li>
										</ul>
									</div>
									<div class="awards-info" [hidden]="!addAwa">
										<div class="row form-row awards-cont">
											<div class="col-12 col-md-6 col-lg-4">
												<div class="form-group">
													<label>Reconocimiento</label>
													<input type="text" class="form-control floating" id="newAwaAward" formControlName="newAwaAward" placeholder="Premio" [(ngModel)]="newAwaAward">
												</div>
											</div>
											<div class="col-12 col-md-6 col-lg-4">
												<div class="form-group">
													<label>Descripcion</label>
													<input type="text" class="form-control floating" id="newAwaDescription" formControlName="newAwaDescription" placeholder="Descripcion" [(ngModel)]="newAwaDescription">
												</div>
											</div>
											<div class="col-12 col-md-6 col-lg-4">
												<div class="form-group">
													<label>Año</label>
													<input type="text" class="form-control floating" id="newAwaDate" formControlName="newAwaDate" placeholder="Año" [(ngModel)]="newAwaDate">
												</div>
											</div>
										</div>
									</div>
									<div class="add-more" >
										<a href="javascript:void(0);" class="add-education" [hidden]="!addAwa"  (click)="addAward()"><i class="fa fa-check"></i> Guardar</a>		
										<a (click)="addAwaF()" class="add-education" style="cursor: pointer;" [hidden]="addAwa"  ><i class="fa fa-plus-circle"></i> Añadir más</a>
									</div>
								</div>
							</div>


						<div class="submit-section submit-btn-bottom">
							
							<button class="btn btn-primary btn-block btn-lg login-btn" type="submit" [hidden]="!_uw.buttonDisabled" disabled="disabled" (click)="okUpdateDentist(dentistSubmit)">Enviar</button>
							<button class="btn btn-primary btn-block btn-lg login-btn" type="submit" [hidden]="_uw.buttonDisabled" (click)="okUpdateDentist(dentistSubmit)">Enviar</button>
						</div>

				</form>
			</div>
			
		</div>
	</div>
</div>