<div class="content">
	<div class="container-fluid">
		<div class="row">
			<form  [formGroup]="ngFormNewDentistData" (ngSubmit) ="ok()" >		
				<div class="col-md-12 col-lg-12 col-xl-12">
					<div class="card">
						<div class="card-body">
							<h4 class="card-title">Información Básica</h4>
							<div class="row form-row">						
								<div class="col-md-6">
									<div class="form-group ">
										<label>Nombre de usuario</label>
										<input type="text" class="form-control floating" id="username" formControlName="username" placeholder="Nombre de usuario" [(ngModel)]="dentistSubmit.username" [ngClass]="{'is-invalid': dentistSubmitted && fval.username.errors }"required disabled="disabled">
										<div *ngIf="dentistSubmitted && fval.username.errors" class="invalid-feedback">
											<div *ngIf="fval.username.errors.required">
											Por favor proporcione un nombre de usuario valido
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group ">
										<label>Nombres</label>
										<input type="text" class="form-control floating" id="name" formControlName="name" placeholder="Telefono" [(ngModel)]="dentistSubmit.name" [ngClass]="{'is-invalid': dentistSubmitted && fval.name.errors }" disabled="disabled" required>
										<div *ngIf="dentistSubmitted && fval.name.errors" class="invalid-feedback">
											<div *ngIf="fval.name.errors.required">
											Por favor proporcione un nombre valido
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group ">
										<label>Apellidos</label>
											<input type="text" class="form-control floating" id="surname" formControlName="surname" placeholder="Telefono" [(ngModel)]="dentistSubmit.surname" [ngClass]="{'is-invalid': dentistSubmitted && fval.surname.errors }"required>
										<div *ngIf="dentistSubmitted && fval.surname.errors" class="invalid-feedback">
											<div *ngIf="fval.surname.errors.required">
											Por favor proporcione un numero apellido valido
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6">
										<div class="form-group ">
										<label>Telefono</label>
											<input type="text" class="form-control floating" id="phone" formControlName="phone" placeholder="Telefono" [(ngModel)]="dentistSubmit.phone" [ngClass]="{'is-invalid': dentistSubmitted && fval.phone.errors }"required>
										<div *ngIf="dentistSubmitted && fval.phone.errors" class="invalid-feedback">
											<div *ngIf="fval.phone.errors.required">
											Por favor proporcione un numero de telefono valido
											</div>										 
										</div>
									</div>									
								</div>							
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-body">
							<h4 class="card-title">Información Profesional</h4>
							<div class="row form-row">
								<div class="col-md-6">
									<div class="form-group ">
										<label>Numero colegiado</label>
										<input type="text" class="form-control floating" id="collegeN" formControlName="collegeN" placeholder="Numero colegiado" [(ngModel)]="dentistSubmit.collegeN" [ngClass]="{'is-invalid': dentistSubmitted && fval.collegeN.errors }"required>
										<div *ngIf="dentistSubmitted && fval.collegeN.errors" class="invalid-feedback">
											<div *ngIf="fval.collegeN.errors.required">
											Por favor proporcione su numero colegiado
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group " *ngIf="specs[0]!=undefined">
									<label>Especialidades</label>
										<!-- <input type="text" class="form-control floating" id="specialty" formControlName="specialty" placeholder="Especialidad" [(ngModel)]="dentistSubmit.specialty" [ngClass]="{'is-invalid': dentistSubmitted && fval.specialty.errors }"required >
										<div *ngIf="dentistSubmitted && fval.specialty.errors" class="invalid-feedback">
											<div *ngIf="fval.specialty.errors.required">
											Por favor indique su especialidad
											</div>
										</div> -->
										<ng-multiselect-dropdown
										  [placeholder]="'Especialidades'"
										  [settings]="dropdownSettings"
										  [data]="dropdownList"
										  [(ngModel)]="selectedItems"
										  (onSelect)="onItemSelect($event)"(onDeSelect)="onItemDeSelect($event)"
										  (onSelectAll)="onSelectAll($event)"
										  [ngModelOptions]="{standalone: true}"
										>
										</ng-multiselect-dropdown>
									</div>
								</div>
								
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card-body">
							<h4 class="card-title">Información de la Clínica</h4>
							<div class="row form-row">						
								<div class="col-md-6">
									<div class="form-group ">
										<label>Nombre de la Clínica</label>
										<input type="text" class="form-control floating" id="clinicName" formControlName="clinicName" placeholder="Nombre de la clinica" [(ngModel)]="dentistSubmit.clinicName" [ngClass]="{'is-invalid': dentistSubmitted && fval.clinicName.errors }"required>
										<div *ngIf="dentistSubmitted && fval.clinicName.errors" class="invalid-feedback">
											<div *ngIf="fval.clinicName.errors.required">
											Por favor proporcione un nombre de clínica válido
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group ">
										<label>Domicilio de la Clínica</label>
											<input type="text" class="form-control floating" id="address" formControlName="address" placeholder="Direccion de clinica" [(ngModel)]="dentistSubmit.address" [ngClass]="{'is-invalid': dentistSubmitted && fval.address.errors }"required>
										<div *ngIf="dentistSubmitted && fval.address.errors" class="invalid-feedback">
											<div *ngIf="fval.address.errors.required">
											Por favor proporcione la direccion de la clinica
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="submit-section submit-btn-bottom">
						<button class="btn btn-primary btn-block btn-lg login-btn" type="submit" >Enviar</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>