<div class="content">
	<div class="container-fluid">
		<div class="row">

			<!-- Profile Sidebar -->
			<div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
				<app-lateralmenu ></app-lateralmenu>
			</div>
			<!-- /Profile Sidebar -->

			<div class="col-md-7 col-lg-8 col-xl-9" *ngIf=" _uw.usertype=='dentist'">
				<div class="row">
					<div class="col-md-12">
						<div class="card dash-card">
							<div class="card-body">
								<div class="row">
									<div class="col-md-12 col-lg-4">
										<div class="dash-widget dct-border-rht">
											<div class="circle-bar circle-bar1">
												<div class="circle-graph1" data-percent="75">
													<img src="assets/assetsdental/img/icon-01.png" class="img-fluid" alt="patient">
												</div>
											</div>
											<div class="dash-widget-info">
												<h6>Total de Pacientes</h6>
												<h3>328</h3>
												<p class="text-muted">Hasta hoy</p>
											</div>
										</div>
									</div>

									<div class="col-md-12 col-lg-4">
										<div class="dash-widget dct-border-rht">
											<div class="circle-bar circle-bar2">
												<div class="circle-graph2" data-percent="65">
													<img src="assets/assetsdental/img/icon-02.png" class="img-fluid" alt="Patient">
												</div>
											</div>
											<div class="dash-widget-info">
												<h6>Pacientes Hoy</h6>
												<h3>9</h3>
												<p class="text-muted">06 de mayo 2020</p>
											</div>
										</div>
									</div>

									<div class="col-md-12 col-lg-4">
										<div class="dash-widget">
											<div class="circle-bar circle-bar3">
												<div class="circle-graph3" data-percent="50">
													<img src="assets/assetsdental/img/icon-03.png" class="img-fluid" alt="Patient">
												</div>
											</div>
											<div class="dash-widget-info">
												<h6>Citas</h6>
												<h3>28</h3>
												<p class="text-muted">06 de mayo 2020</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<h4 class="mb-4">Cita del Paciente</h4>
						<div class="appointment-tab">

							<!-- Appointment Tab -->
							<ul class="nav nav-tabs nav-tabs-solid nav-tabs-rounded">
								<li class="nav-item">
									<a class="nav-link active" href="#upcoming-appointments" data-toggle="tab">Próxima</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#today-appointments" data-toggle="tab">Hoy</a>
								</li>
							</ul>
							<!-- /Appointment Tab -->

							<div class="tab-content">

								<!-- Upcoming Appointment Tab -->
								<div class="tab-pane show active" id="upcoming-appointments">
									<div class="card card-table mb-0">
										<div class="card-body">
											<div class="table-responsive">
												<table class="table table-hover table-center mb-0">
													<thead>
														<tr>
															<th>Nombre del Paciente</th>
															<th>Día de Cita</th>
															<th>Motivo</th>
															<th>Tipo</th>
															<th class="text-center">Honorarios</th>
															
														</tr>
													</thead>
													<tbody>
														<tr>
															<td>
																<h2 class="table-avatar">
																	<a href="patient-profile.php" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/assetsdental/img/patients/profile.png" alt="User Image"></a>
																	<a href="patient-profile.php">Juan Quintana Padial <span>#PT0016</span></a>
																</h2>
															</td>
															<td>06 de mayo de 2020 <span class="d-block text-info">10.00 AM</span></td>
															<td>General</td>
															<td>Nuevo paciente</td>
															<td class="text-center">150€</td>
															
														</tr>
														<tr>
															<td>
																<h2 class="table-avatar">
																	<a href="patient-profile.php" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/assetsdental/img/patients/profile1.png" alt="User Image"></a>
																	<a href="patient-profile.php">Nuria Robles <span>#PT0017</span></a>
																</h2>
															</td>
															<td>06 de mayo de 2020 <span class="d-block text-info">12.00 AM</span></td>
															<td>General</td>
															<td>Paciente habitual</td>
															<td class="text-center">170€</td>
															
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
								<!-- /Upcoming Appointment Tab -->

								<!-- Today Appointment Tab -->
								<div class="tab-pane" id="today-appointments">
									<div class="card card-table mb-0">
										<div class="card-body">
											<div class="table-responsive">
												<table class="table table-hover table-center mb-0">
													<thead>
														<tr>
															<th>Nombre del Paciente</th>
															<th>Día de Cita</th>
															<th>Motivo</th>
															<th>Tipo</th>
															<th class="text-center">Honorarios</th>
															
														</tr>
													</thead>
													<tbody>
														<tr>
															<td>
																<h2 class="table-avatar">
																	<a href="patient-profile.php" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/assetsdental/img/patients/profile.png" alt="User Image"></a>
																	<a href="patient-profile.php">Damian Robles <span>#PT0018</span></a>
																</h2>
															</td>
															<td>07 de mayo de 2020 <span class="d-block text-info">10.00 AM</span></td>
															<td>General</td>
															<td>Paciente habitual</td>
															<td class="text-center">150€</td>
															
														</tr>
														<tr>
															<td>
																<h2 class="table-avatar">
																	<a href="patient-profile.php" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/assetsdental/img/patients/profile1.png" alt="User Image"></a>
																	<a href="patient-profile.php">María Yuste <span>#PT0019</span></a>
																</h2>
															</td>
															<td>07 de mayo de 2020 <span class="d-block text-info">12.00 AM</span></td>
															<td>General</td>
															<td>Paciente habitual</td>
															<td class="text-center">170€</td>
															
														</tr>
														<tr>
															<td>
																<h2 class="table-avatar">
																	<a href="patient-profile.php" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/assetsdental/img/patients/profile.png" alt="User Image"></a>
																	<a href="patient-profile.php">José Ibañez <span>#PT0020</span></a>
																</h2>
															</td>
															<td>07 de mayo de 2020 <span class="d-block text-info">10.00 AM</span></td>
															<td>General</td>
															<td>Nuevo paciente</td>
															<td class="text-center">150€</td>
															
														</tr>
														<tr>
															<td>
																<h2 class="table-avatar">
																	<a href="patient-profile.php" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/assetsdental/img/patients/profile1.png" alt="User Image"></a>
																	<a href="patient-profile.php">Dolores Fortun <span>#PT0021</span></a>
																</h2>
															</td>
															<td>07 de mayo de 2020 <span class="d-block text-info">12.00 AM</span></td>
															<td>General</td>
															<td>Antiguo paciente</td>
															<td class="text-center">200€</td>
															
														</tr>
														<tr>
															<td>
																<h2 class="table-avatar">
																	<a href="patient-profile.php" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/assetsdental/img/patients/profile.png" alt="User Image"></a>
																	<a href="patient-profile.php">Sebastián Recio <span>#PT0022</span></a>
																</h2>
															</td>
															<td>07 de mayo de 2020 <span class="d-block text-info">10.00 AM</span></td>
															<td>General</td>
															<td>Nuevo paciente</td>
															<td class="text-center">150€</td>
															
														</tr>
														<tr>
															<td>
																<h2 class="table-avatar">
																	<a href="patient-profile.php" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/assetsdental/img/patients/profile1.png" alt="User Image"></a>
																	<a href="patient-profile.php">Nuria Robles <span>#PT0023</span></a>
																</h2>
															</td>
															<td>07 de mayo de 2020 <span class="d-block text-info">12.00 AM</span></td>
															<td>General</td>
															<td>Antiguo paciente</td>
															<td class="text-center">170€</td>
															
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
								<!-- /Today Appointment Tab -->

							</div>
						</div>
					</div>
				</div>
			</div>

				<div class="col-md-7 col-lg-8 col-xl-9" *ngIf=" _uw.usertype=='patient'"> 
						<div class="card">
<div class="card-body pt-0">

	<nav class="user-tabs mb-4">
	<ul class="nav nav-tabs nav-tabs-bottom nav-justified">
	<li class="nav-item">
	<a class="nav-link active" href="patient-dashboard.html#pat_appointments" data-toggle="tab">Appointments</a>
	</li>
	<li class="nav-item">
	<a class="nav-link" href="patient-dashboard.html#pat_prescriptions" data-toggle="tab">Prescriptions</a>
	</li>
	<li class="nav-item">
	<a class="nav-link" href="patient-dashboard.html#pat_medical_records" data-toggle="tab"><span class="med-records">Medical Records</span></a>
	</li>
	<li class="nav-item">
	<a class="nav-link" href="patient-dashboard.html#pat_billing" data-toggle="tab">Billing</a>
	</li>
	</ul>
	</nav>


<div class="tab-content pt-0">

<div id="pat_appointments" class="tab-pane fade show active">
<div class="card card-table mb-0">
<div class="card-body">
<div class="table-responsive">
<table class="table table-hover table-center mb-0">
<thead>
<tr>
<th>Doctor</th>
<th>Appt Date</th>
<th>Booking Date</th>
<th>Amount</th>
<th>Follow Up</th>
<th>Status</th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td>
<h2 class="table-avatar">
<a href="doctor-profile.html" class="avatar avatar-sm mr-2">
<img class="avatar-img rounded-circle" src="assets/assetsdental/img/doctors/doctor-thumb-01.jpg" alt="User Image">
</a>
<a href="doctor-profile.html">Dr. Ruby Perrin <span>Dental</span></a>
</h2>
</td>
<td>14 Nov 2019 <span class="d-block text-info">10.00 AM</span></td>
<td>12 Nov 2019</td>
<td>$160</td>
<td>16 Nov 2019</td>
<td><span class="badge badge-pill bg-success-light">Confirm</span></td>

</tr>
<tr>
<td>
<h2 class="table-avatar">
<a href="doctor-profile.html" class="avatar avatar-sm mr-2">
<img class="avatar-img rounded-circle" src="assets/assetsdental/img/doctors/doctor-thumb-02.jpg" alt="User Image">
</a>
<a href="doctor-profile.html">Dr. Darren Elder <span>Dental</span></a>
</h2>
</td>
<td>12 Nov 2019 <span class="d-block text-info">8.00 PM</span></td>
<td>12 Nov 2019</td>
<td>$250</td>
<td>14 Nov 2019</td>
<td><span class="badge badge-pill bg-success-light">Confirm</span></td>

</tr>
<tr>
<td>
<h2 class="table-avatar">
<a href="doctor-profile.html" class="avatar avatar-sm mr-2">
<img class="avatar-img rounded-circle" src="assets/assetsdental/img/doctors/doctor-thumb-03.jpg" alt="User Image">
</a>
<a href="doctor-profile.html">Dr. Deborah Angel <span>Cardiology</span></a>
</h2>
</td>
<td>11 Nov 2019 <span class="d-block text-info">11.00 AM</span></td>
<td>10 Nov 2019</td>
<td>$400</td>
<td>13 Nov 2019</td>
<td><span class="badge badge-pill bg-danger-light">Cancelled</span></td>

</tr>
<tr>
<td>
<h2 class="table-avatar">
<a href="doctor-profile.html" class="avatar avatar-sm mr-2">
<img class="avatar-img rounded-circle" src="assets/assetsdental/img/doctors/doctor-thumb-04.jpg" alt="User Image">
</a>
<a href="doctor-profile.html">Dr. Sofia Brient <span>Urology</span></a>
</h2>
</td>
<td>10 Nov 2019 <span class="d-block text-info">3.00 PM</span></td>
<td>10 Nov 2019</td>
<td>$350</td>
<td>12 Nov 2019</td>
<td><span class="badge badge-pill bg-warning-light">Pending</span></td>

</tr>
<tr>
<td>
<h2 class="table-avatar">
<a href="doctor-profile.html" class="avatar avatar-sm mr-2">
<img class="avatar-img rounded-circle" src="assets/assetsdental/img/doctors/doctor-thumb-05.jpg" alt="User Image">
</a>
<a href="doctor-profile.html">Dr. Marvin Campbell <span>Ophthalmology</span></a>
</h2>
</td>
<td>9 Nov 2019 <span class="d-block text-info">7.00 PM</span></td>
<td>8 Nov 2019</td>
<td>$75</td>
<td>11 Nov 2019</td>
<td><span class="badge badge-pill bg-success-light">Confirm</span></td>

</tr>
<tr>
<td>
<h2 class="table-avatar">
<a href="doctor-profile.html" class="avatar avatar-sm mr-2">
<img class="avatar-img rounded-circle" src="assets/assetsdental/img/doctors/doctor-thumb-06.jpg" alt="User Image">
</a>
 <a href="doctor-profile.html">Dr. Katharine Berthold <span>Orthopaedics</span></a>
</h2>
</td>
<td>8 Nov 2019 <span class="d-block text-info">9.00 AM</span></td>
<td>6 Nov 2019</td>
<td>$175</td>
<td>10 Nov 2019</td>
<td><span class="badge badge-pill bg-danger-light">Cancelled</span></td>

</tr>
<tr>
<td>
<h2 class="table-avatar">
<a href="doctor-profile.html" class="avatar avatar-sm mr-2">
<img class="avatar-img rounded-circle" src="assets/assetsdental/img/doctors/doctor-thumb-07.jpg" alt="User Image">
</a>
<a href="doctor-profile.html">Dr. Linda Tobin <span>Neurology</span></a>
</h2>
</td>
<td>8 Nov 2019 <span class="d-block text-info">6.00 PM</span></td>
<td>6 Nov 2019</td>
<td>$450</td>
<td>10 Nov 2019</td>
<td><span class="badge badge-pill bg-success-light">Confirm</span></td>

</tr>
<tr>
<td>
<h2 class="table-avatar">
<a href="doctor-profile.html" class="avatar avatar-sm mr-2">
<img class="avatar-img rounded-circle" src="assets/assetsdental/img/doctors/doctor-thumb-08.jpg" alt="User Image">
</a>
<a href="doctor-profile.html">Dr. Paul Richard <span>Dermatology</span></a>
</h2>
</td>
<td>7 Nov 2019 <span class="d-block text-info">9.00 PM</span></td>
<td>7 Nov 2019</td>
<td>$275</td>
<td>9 Nov 2019</td>
<td><span class="badge badge-pill bg-success-light">Confirm</span></td>

</tr>
<tr>
<td>
<h2 class="table-avatar">
<a href="doctor-profile.html" class="avatar avatar-sm mr-2">
<img class="avatar-img rounded-circle" src="assets/assetsdental/img/doctors/doctor-thumb-09.jpg" alt="User Image">
</a>
<a href="doctor-profile.html">Dr. John Gibbs <span>Dental</span></a>
</h2>
</td>
<td>6 Nov 2019 <span class="d-block text-info">8.00 PM</span></td>
<td>4 Nov 2019</td>
<td>$600</td>
<td>8 Nov 2019</td>
<td><span class="badge badge-pill bg-success-light">Confirm</span></td>

</tr>
<tr>
<td>
<h2 class="table-avatar">
<a href="doctor-profile.html" class="avatar avatar-sm mr-2">
<img class="avatar-img rounded-circle" src="assets/assetsdental/img/doctors/doctor-thumb-10.jpg" alt="User Image">
</a>
<a href="doctor-profile.html">Dr. Olga Barlow <span>Dental</span></a>
</h2>
</td>
<td>5 Nov 2019 <span class="d-block text-info">5.00 PM</span></td>
<td>1 Nov 2019</td>
<td>$100</td>
<td>7 Nov 2019</td>
<td><span class="badge badge-pill bg-success-light">Confirm</span></td>

</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>


<div class="tab-pane fade" id="pat_prescriptions">
<div class="card card-table mb-0">
<div class="card-body">
<div class="table-responsive">
<table class="table table-hover table-center mb-0">
<thead>
<tr>
<th>Date </th>
<th>Name</th>
<th>Created by </th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td>14 Nov 2019</td>
<td>Prescription 1</td>
<td>
<h2 class="table-avatar">
<a href="doctor-profile.html" class="avatar avatar-sm mr-2">
<img class="avatar-img rounded-circle" src="assets/assetsdental/img/doctors/doctor-thumb-01.jpg" alt="User Image">
</a>
<a href="doctor-profile.html">Dr. Ruby Perrin <span>Dental</span></a>
</h2>
</td>

</tr>
<tr>
<td>13 Nov 2019</td>
<td>Prescription 2</td>
<td>
<h2 class="table-avatar">
<a href="doctor-profile.html" class="avatar avatar-sm mr-2">
<img class="avatar-img rounded-circle" src="assets/assetsdental/img/doctors/doctor-thumb-02.jpg" alt="User Image">
</a>
<a href="doctor-profile.html">Dr. Darren Elder <span>Dental</span></a>
</h2>
</td>

</tr>
<tr>
<td>12 Nov 2019</td>
<td>Prescription 3</td>
<td>
<h2 class="table-avatar">
<a href="doctor-profile.html" class="avatar avatar-sm mr-2">
<img class="avatar-img rounded-circle" src="assets/assetsdental/img/doctors/doctor-thumb-03.jpg" alt="User Image">
</a>
<a href="doctor-profile.html">Dr. Deborah Angel <span>Cardiology</span></a>
</h2>
</td>

</tr>
<tr>
<td>11 Nov 2019</td>
<td>Prescription 4</td>
<td>
<h2 class="table-avatar">
<a href="doctor-profile.html" class="avatar avatar-sm mr-2">
<img class="avatar-img rounded-circle" src="assets/assetsdental/img/doctors/doctor-thumb-04.jpg" alt="User Image">
</a>
<a href="doctor-profile.html">Dr. Sofia Brient <span>Urology</span></a>
</h2>
</td>

</tr>
<tr>
<td>10 Nov 2019</td>
<td>Prescription 5</td>
<td>
<h2 class="table-avatar">
<a href="doctor-profile.html" class="avatar avatar-sm mr-2">
<img class="avatar-img rounded-circle" src="assets/assetsdental/img/doctors/doctor-thumb-05.jpg" alt="User Image">
</a>
<a href="doctor-profile.html">Dr. Marvin Campbell <span>Dental</span></a>
</h2>
</td>

</tr>
<tr>
<td>9 Nov 2019</td>
<td>Prescription 6</td>
<td>
<h2 class="table-avatar">
<a href="doctor-profile.html" class="avatar avatar-sm mr-2">
<img class="avatar-img rounded-circle" src="assets/assetsdental/img/doctors/doctor-thumb-06.jpg" alt="User Image">
</a>
<a href="doctor-profile.html">Dr. Katharine Berthold <span>Orthopaedics</span></a>
</h2>
 </td>

</tr>
<tr>
<td>8 Nov 2019</td>
<td>Prescription 7</td>
<td>
<h2 class="table-avatar">
<a href="doctor-profile.html" class="avatar avatar-sm mr-2">
<img class="avatar-img rounded-circle" src="assets/assetsdental/img/doctors/doctor-thumb-07.jpg" alt="User Image">
</a>
<a href="doctor-profile.html">Dr. Linda Tobin <span>Neurology</span></a>
</h2>
</td>

</tr>
<tr>
<td>7 Nov 2019</td>
<td>Prescription 8</td>
<td>
<h2 class="table-avatar">
<a href="doctor-profile.html" class="avatar avatar-sm mr-2">
<img class="avatar-img rounded-circle" src="assets/assetsdental/img/doctors/doctor-thumb-08.jpg" alt="User Image">
</a>
<a href="doctor-profile.html">Dr. Paul Richard <span>Dermatology</span></a>
</h2>
</td>

</tr>
<tr>
<td>6 Nov 2019</td>
<td>Prescription 9</td>
<td>
<h2 class="table-avatar">
<a href="doctor-profile.html" class="avatar avatar-sm mr-2">
<img class="avatar-img rounded-circle" src="assets/assetsdental/img/doctors/doctor-thumb-09.jpg" alt="User Image">
</a>
<a href="doctor-profile.html">Dr. John Gibbs <span>Dental</span></a>
</h2>
</td>

</tr>
<tr>
<td>5 Nov 2019</td>
<td>Prescription 10</td>
<td>
<h2 class="table-avatar">
<a href="doctor-profile.html" class="avatar avatar-sm mr-2">
<img class="avatar-img rounded-circle" src="assets/assetsdental/img/doctors/doctor-thumb-10.jpg" alt="User Image">
</a>
<a href="doctor-profile.html">Dr. Olga Barlow <span>Dental</span></a>
 </h2>
</td>

</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>


<div id="pat_medical_records" class="tab-pane fade">
<div class="card card-table mb-0">
<div class="card-body">
<div class="table-responsive">
<table class="table table-hover table-center mb-0">
<thead>
<tr>
<th>ID</th>
<th>Date </th>
<th>Description</th>
<th>Attachment</th>
<th>Created</th>

</tr>
</thead>
<tbody>
<tr>
<td><a href="javascript:void(0);">#MR-0010</a></td>
<td>14 Nov 2019</td>
<td>Dental Filling</td>
<td><a href="patient-dashboard.html#">dental-test.pdf</a></td>
<td>
<h2 class="table-avatar">
<a href="doctor-profile.html" class="avatar avatar-sm mr-2">
<img class="avatar-img rounded-circle" src="assets/assetsdental/img/doctors/doctor-thumb-01.jpg" alt="User Image">
</a>
<a href="doctor-profile.html">Dr. Ruby Perrin <span>Dental</span></a>
</h2>
</td>

</tr>
<tr>
<td><a href="javascript:void(0);">#MR-0009</a></td>
<td>13 Nov 2019</td>
<td>Teeth Cleaning</td>
<td><a href="patient-dashboard.html#">dental-test.pdf</a></td>
<td>
<h2 class="table-avatar">
<a href="doctor-profile.html" class="avatar avatar-sm mr-2">
<img class="avatar-img rounded-circle" src="assets/assetsdental/img/doctors/doctor-thumb-02.jpg" alt="User Image">
</a>
<a href="doctor-profile.html">Dr. Darren Elder <span>Dental</span></a>
</h2>
</td>

</tr>
<tr>
<td><a href="javascript:void(0);">#MR-0008</a></td>
<td>12 Nov 2019</td>
<td>General Checkup</td>
<td><a href="patient-dashboard.html#">cardio-test.pdf</a></td>
<td>
<h2 class="table-avatar">
<a href="doctor-profile.html" class="avatar avatar-sm mr-2">
<img class="avatar-img rounded-circle" src="assets/assetsdental/img/doctors/doctor-thumb-03.jpg" alt="User Image">
</a>
<a href="doctor-profile.html">Dr. Deborah Angel <span>Cardiology</span></a>
</h2>
</td>

</tr>
<tr>
<td><a href="javascript:void(0);">#MR-0007</a></td>
<td>11 Nov 2019</td>
<td>General Test</td>
<td><a href="patient-dashboard.html#">general-test.pdf</a></td>
<td>
<h2 class="table-avatar">
<a href="doctor-profile.html" class="avatar avatar-sm mr-2">
<img class="avatar-img rounded-circle" src="assets/assetsdental/img/doctors/doctor-thumb-04.jpg" alt="User Image">
</a>
<a href="doctor-profile.html">Dr. Sofia Brient <span>Urology</span></a>
</h2>
</td>

</tr>
<tr>
<td><a href="javascript:void(0);">#MR-0006</a></td>
<td>10 Nov 2019</td>
<td>Eye Test</td>
<td><a href="patient-dashboard.html#">eye-test.pdf</a></td>
<td>
<h2 class="table-avatar">
<a href="doctor-profile.html" class="avatar avatar-sm mr-2">
<img class="avatar-img rounded-circle" src="assets/assetsdental/img/doctors/doctor-thumb-05.jpg" alt="User Image">
</a>
<a href="doctor-profile.html">Dr. Marvin Campbell <span>Ophthalmology</span></a>
</h2>
</td>

</tr>
<tr>
<td><a href="javascript:void(0);">#MR-0005</a></td>
<td>9 Nov 2019</td>
<td>Leg Pain</td>
<td><a href="patient-dashboard.html#">ortho-test.pdf</a></td>
<td>
<h2 class="table-avatar">
<a href="doctor-profile.html" class="avatar avatar-sm mr-2">
<img class="avatar-img rounded-circle" src="assets/assetsdental/img/doctors/doctor-thumb-06.jpg" alt="User Image">
</a>
<a href="doctor-profile.html">Dr. Katharine Berthold <span>Orthopaedics</span></a>
</h2>
</td>

</tr>
<tr>
<td><a href="javascript:void(0);">#MR-0004</a></td>
<td>8 Nov 2019</td>
<td>Head pain</td>
<td><a href="patient-dashboard.html#">neuro-test.pdf</a></td>
<td>
<h2 class="table-avatar">
<a href="doctor-profile.html" class="avatar avatar-sm mr-2">
<img class="avatar-img rounded-circle" src="assets/assetsdental/img/doctors/doctor-thumb-07.jpg" alt="User Image">
</a>
<a href="doctor-profile.html">Dr. Linda Tobin <span>Neurology</span></a>
</h2>
</td>

</tr>
<tr>
<td><a href="javascript:void(0);">#MR-0003</a></td>
<td>7 Nov 2019</td>
<td>Skin Alergy</td>
<td><a href="patient-dashboard.html#">alergy-test.pdf</a></td>
<td>
<h2 class="table-avatar">
<a href="doctor-profile.html" class="avatar avatar-sm mr-2">
<img class="avatar-img rounded-circle" src="assets/assetsdental/img/doctors/doctor-thumb-08.jpg" alt="User Image">
</a>
<a href="doctor-profile.html">Dr. Paul Richard <span>Dermatology</span></a>
</h2>
</td>

</tr>
<tr>
<td><a href="javascript:void(0);">#MR-0002</a></td>
<td>6 Nov 2019</td>
<td>Dental Removing</td>
<td><a href="patient-dashboard.html#">dental-test.pdf</a></td>
<td>
<h2 class="table-avatar">
<a href="doctor-profile.html" class="avatar avatar-sm mr-2">
<img class="avatar-img rounded-circle" src="assets/assetsdental/img/doctors/doctor-thumb-09.jpg" alt="User Image">
</a>
<a href="doctor-profile.html">Dr. John Gibbs <span>Dental</span></a>
</h2>
</td>

</tr>
<tr>
<td><a href="javascript:void(0);">#MR-0001</a></td>
<td>5 Nov 2019</td>
<td>Dental Filling</td>
<td><a href="patient-dashboard.html#">dental-test.pdf</a></td>
<td>
<h2 class="table-avatar">
<a href="doctor-profile.html" class="avatar avatar-sm mr-2">
<img class="avatar-img rounded-circle" src="assets/assetsdental/img/doctors/doctor-thumb-10.jpg" alt="User Image">
 </a>
<a href="doctor-profile.html">Dr. Olga Barlow <span>Dental</span></a>
</h2>
</td>

</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>


<div id="pat_billing" class="tab-pane fade">
<div class="card card-table mb-0">
<div class="card-body">
<div class="table-responsive">
<table class="table table-hover table-center mb-0">
<thead>
<tr>
<th>Invoice No</th>
<th>Doctor</th>
<th>Amount</th>
<th>Paid On</th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td>
<a href="invoice-view.html">#INV-0010</a>
</td>
<td>
<h2 class="table-avatar">
<a href="doctor-profile.html" class="avatar avatar-sm mr-2">
<img class="avatar-img rounded-circle" src="assets/assetsdental/img/doctors/doctor-thumb-01.jpg" alt="User Image">
</a>
<a href="doctor-profile.html">Ruby Perrin <span>Dental</span></a>
</h2>
</td>
<td>$450</td>
<td>14 Nov 2019</td>

</tr>
<tr>
<td>
<a href="invoice-view.html">#INV-0009</a>
</td>
<td>
<h2 class="table-avatar">
<a href="doctor-profile.html" class="avatar avatar-sm mr-2">
<img class="avatar-img rounded-circle" src="assets/assetsdental/img/doctors/doctor-thumb-02.jpg" alt="User Image">
</a>
<a href="doctor-profile.html">Dr. Darren Elder <span>Dental</span></a>
</h2>
</td>
<td>$300</td>
<td>13 Nov 2019</td>

</tr>
<tr>
<td>
<a href="invoice-view.html">#INV-0008</a>
</td>
<td>
<h2 class="table-avatar">
<a href="doctor-profile.html" class="avatar avatar-sm mr-2">
<img class="avatar-img rounded-circle" src="assets/assetsdental/img/doctors/doctor-thumb-03.jpg" alt="User Image">
</a>
 <a href="doctor-profile.html">Dr. Deborah Angel <span>Cardiology</span></a>
</h2>
</td>
<td>$150</td>
<td>12 Nov 2019</td>

</tr>
<tr>
<td>
<a href="invoice-view.html">#INV-0007</a>
</td>
<td>
<h2 class="table-avatar">
<a href="doctor-profile.html" class="avatar avatar-sm mr-2">
<img class="avatar-img rounded-circle" src="assets/assetsdental/img/doctors/doctor-thumb-04.jpg" alt="User Image">
</a>
<a href="doctor-profile.html">Dr. Sofia Brient <span>Urology</span></a>
</h2>
</td>
<td>$50</td>
<td>11 Nov 2019</td>

</tr>
<tr>
<td>
<a href="invoice-view.html">#INV-0006</a>
</td>
<td>
<h2 class="table-avatar">
<a href="doctor-profile.html" class="avatar avatar-sm mr-2">
<img class="avatar-img rounded-circle" src="assets/assetsdental/img/doctors/doctor-thumb-05.jpg" alt="User Image">
</a>
<a href="doctor-profile.html">Dr. Marvin Campbell <span>Ophthalmology</span></a>
</h2>
</td>
<td>$600</td>
<td>10 Nov 2019</td>

</tr>
<tr>
<td>
<a href="invoice-view.html">#INV-0005</a>
</td>
<td>
<h2 class="table-avatar">
<a href="doctor-profile.html" class="avatar avatar-sm mr-2">
<img class="avatar-img rounded-circle" src="assets/assetsdental/img/doctors/doctor-thumb-06.jpg" alt="User Image">
</a>
<a href="doctor-profile.html">Dr. Katharine Berthold <span>Orthopaedics</span></a>
</h2>
</td>
<td>$200</td>
<td>9 Nov 2019</td>

</tr>
 <tr>
<td>
<a href="invoice-view.html">#INV-0004</a>
</td>
<td>
<h2 class="table-avatar">
<a href="doctor-profile.html" class="avatar avatar-sm mr-2">
<img class="avatar-img rounded-circle" src="assets/assetsdental/img/doctors/doctor-thumb-07.jpg" alt="User Image">
</a>
<a href="doctor-profile.html">Dr. Linda Tobin <span>Neurology</span></a>
</h2>
</td>
<td>$100</td>
<td>8 Nov 2019</td>

</tr>
<tr>
<td>
<a href="invoice-view.html">#INV-0003</a>
</td>
<td>
<h2 class="table-avatar">
<a href="doctor-profile.html" class="avatar avatar-sm mr-2">
<img class="avatar-img rounded-circle" src="assets/assetsdental/img/doctors/doctor-thumb-08.jpg" alt="User Image">
</a>
<a href="doctor-profile.html">Dr. Paul Richard <span>Dermatology</span></a>
</h2>
</td>
<td>$250</td>
<td>7 Nov 2019</td>

</tr>
<tr>
<td>
<a href="invoice-view.html">#INV-0002</a>
</td>
<td>
<h2 class="table-avatar">
<a href="doctor-profile.html" class="avatar avatar-sm mr-2">
<img class="avatar-img rounded-circle" src="assets/assetsdental/img/doctors/doctor-thumb-09.jpg" alt="User Image">
</a>
<a href="doctor-profile.html">Dr. John Gibbs <span>Dental</span></a>
</h2>
</td>
<td>$175</td>
<td>6 Nov 2019</td>

</tr>
<tr>
<td>
<a href="invoice-view.html">#INV-0001</a>
</td>
<td>
<h2 class="table-avatar">
<a href="doctor-profile.html" class="avatar avatar-sm mr-2">
<img class="avatar-img rounded-circle" src="assets/assetsdental/img/doctors/doctor-thumb-10.jpg" alt="User Image">
</a>
<a href="doctor-profile.html">Dr. Olga Barlow <span>#0010</span></a>
</h2>
</td>
<td>$550</td>
<td>5 Nov 2019</td>

</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>

</div>

</div>
</div>
						</div>
		</div>
	</div>
</div>