<header class="header header-trans header-five">
    <nav class="navbar navbar-expand-lg header-nav no-border">
        <div class="navbar-header">
        <a id="mobile_btn" href="javascript:void(0);">
        <span class="bar-icon">
        <span></span>
        <span></span>
        <span></span>
        </span>
        </a>
        <a routerLink="dashboard" class="navbar-brand logo">
        <img src="assets/assetsdental/img/logo.png" class="img-fluid" alt="Logo">
        </a>
        </div>
        <div class="main-menu-wrapper">
            <div class="menu-header">
                <a routerLink="dashboard" class="menu-logo">
                <img src="assets/assetsdental/img/logo.png" class="img-fluid" alt="Logo">
                </a>
                <a id="menu_close" class="menu-close" href="javascript:void(0);">
                <i class="fas fa-times"></i>
                </a>
            </div>

            <ul class="main-nav blue-font">
                <li class="has-submenu active"[hidden]="_uw.usertype=='dentist'">
                    <a routerLink="dentists"><i class="fas fa-search"></i> Nuestros dentistas </a>
                  
                </li>
                <li class="has-submenu active" [hidden]="!_uw.isLogged || !router.url.includes('/message') && !router.url.includes('/dashboard') && !router.url.includes('/dentists') && !router.url.includes('/appointments') && !router.url.includes('/account') ">
                    <a routerLink="dashboard"> Dashboard</a>
                  
                </li>
                <li class="has-submenu active"  [hidden]="!_uw.isLogged || !router.url.includes('/message') && !router.url.includes('/dashboard') && !router.url.includes('/dentists') && !router.url.includes('/appointments') && !router.url.includes('/account') ">
                    <a routerLink="appointments"> Citas</a>
                  
                </li>
                <li class="has-submenu active"  [hidden]="!_uw.isLogged || !router.url.includes('/message') && !router.url.includes('/dashboard') && !router.url.includes('/dentists') && !router.url.includes('/appointments') && !router.url.includes('/account') ">
                    <a routerLink="account"> Mi cuenta</a>
                  
                </li>
                <li class="has-submenu active"  [hidden]="!_uw.isLogged || !router.url.includes('/message') && !router.url.includes('/dashboard') && !router.url.includes('/dentists') && !router.url.includes('/appointments') && !router.url.includes('/account')  && !router.url.includes('/newappointment') ">
                    <a (click)="onlogoutUser()" style="cursor: pointer;"> Cerrar session</a>
                  
                </li>
            
            </ul>
          
            
        </div>
        <ul class="nav header-navbar-rht right-menu" [hidden]="_uw.isLogged">
            <li class="nav-item">
            <a class="nav-link header-login white-bg" routerLink="/login" [hidden]="!router.url.includes('/register') && !router.url.includes('/registerdoctor')">Entrar </a>
          <!--   <a class="nav-link header-login white-bg" routerLink="/register"  [hidden]="router.url.includes('/register') || router.url.includes('/registerdoctor')  || router.url.includes('/login')"  >login / Signup</a> -->
            <a class="nav-link header-login white-bg" routerLink="/register"  [hidden]="router.url.includes('/register') || router.url.includes('/registerdoctor')  "  >Registro</a>
            </li>
        </ul>
    </nav>
</header>