<div class="content">
	<div class="container-fluid">
		<div class="row">

			<!-- Profile Sidebar -->
			<div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
				<app-lateralmenu ></app-lateralmenu>
			</div>
			<div class="col-md-7 col-lg-8 col-xl-9">
				<div class="row row-grid">
					<div class="col-md-6 col-lg-4 col-xl-3">
						<div class="card widget-profile pat-widget-profile">
							<div class="card-body">
								<div class="pro-widget-content">
									<div class="profile-info-widget">
										<a href="patient-profile.php" class="booking-doc-img">
											<img src="assets/assetsdental/img/patients/profile.png" alt="User Image">
										</a>
										<div class="profile-det-info">
											<h3><a href="patient-profile.php">Juan Quintana Padial</a></h3>

											<div class="patient-details">
												<h5><b>Paciente ID :</b> P0016</h5>
												<h5 class="mb-0"><i class="fas fa-map-marker-alt"></i> Palma de Mallorca, España</h5>
											</div>
										</div>
									</div>
								</div>
								<div class="patient-info">
									<ul>
										<li>Teléfono <span>+34 693214578</span></li>
										<li>Edad <span>38 años, varón</span></li>
									</ul>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-6 col-lg-4 col-xl-3">
						<div class="card widget-profile pat-widget-profile">
							<div class="card-body">
								<div class="pro-widget-content">
									<div class="profile-info-widget">
										<a href="patient-profile.php" class="booking-doc-img">
											<img src="assets/assetsdental/img/patients/profile1.png" alt="User Image">
										</a>
										<div class="profile-det-info">
											<h3><a href="patient-profile.php">Nuria Robles</a></h3>

											<div class="patient-details">
												<h5><b>Paciente ID :</b> P0001</h5>
												<h5 class="mb-0"><i class="fas fa-map-marker-alt"></i> Palma de Mallorca, España</h5>
											</div>
										</div>
									</div>
								</div>
								<div class="patient-info">
									<ul>
										<li>Teléfono <span>+34 622784596</span></li>
										<li>Edad <span>33 años, mujer</span></li>
									</ul>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-6 col-lg-4 col-xl-3">
						<div class="card widget-profile pat-widget-profile">
							<div class="card-body">
								<div class="pro-widget-content">
									<div class="profile-info-widget">
										<a href="patient-profile.php" class="booking-doc-img">
											<img src="assets/assetsdental/img/patients/profile1.png" alt="User Image">
										</a>
										<div class="profile-det-info">
											<h3><a href="patient-profile.php">María Yuste Pelaez</a></h3>

											<div class="patient-details">
												<h5><b>Paciente ID :</b> P0052</h5>
												<h5 class="mb-0"><i class="fas fa-map-marker-alt"></i> Palma de Mallorca, España</h5>
											</div>
										</div>
									</div>
								</div>
								<div class="patient-info">
									<ul>
										<li>Teléfono <span>+34 758447414</span></li>
										<li>Edad <span>54 años, mujer</span></li>
									</ul>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-6 col-lg-4 col-xl-3">
						<div class="card widget-profile pat-widget-profile">
							<div class="card-body">
								<div class="pro-widget-content">
									<div class="profile-info-widget">
										<a href="patient-profile.php" class="booking-doc-img">
											<img src="assets/assetsdental/img/patients/profile.png" alt="User Image">
										</a>
										<div class="profile-det-info">
											<h3><a href="patient-profile.php">Mario Casas</a></h3>

											<div class="patient-details">
												<h5><b>Paciente ID :</b> P0023</h5>
												<h5 class="mb-0"><i class="fas fa-map-marker-alt"></i> Palma de Mallorca, España</h5>
											</div>
										</div>
									</div>
								</div>
								<div class="patient-info">
									<ul>
										<li>Teléfono <span>+34 688748596</span></li>
										<li>Edad <span>42 años, varón</span></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>