<div class="content">
	<div class="container">

		<div class="card" >
			<div class="card-body">
				<div class="row" [hidden]="steep3">
					<div class="col-md-4 col-lg-4">
						<div class="doc-info-left"  >
							<div class="doctor-img">
								<a >
									<img src="{{_uw.dentistToApp.images[0]}}" class="img-fluid" alt="User Image">
								</a>
							</div>
							<div class="doc-info-cont">
								<h4 class="doc-name"><a >Dr. {{_uw.dentistToApp.name}}</a></h4>
								<p class="doc-speciality"> {{_uw.dentistToApp.about}}</p>
						
							
								<div class="clinic-details" *ngIf="_uw.dentistToApp.specs[0]!==undefined" >
									<p class="doc-speciality" style="color: green;">
										<i class="fas fa-check" ></i>
									Especialista verificado</p>
								</div>
								<div class="clinic-services" *ngIf="_uw.dentistToApp.specs[0]!==undefined">

									<span  *ngFor="let spec of _uw.dentistToApp.specs">
										<div  *ngFor="let sp of specs">
											<div [hidden]="sp.idspec!=spec">	
											{{sp.name}}
											</div>	
										</div>	

									</span>
									
								</div>
							</div>
						</div>

					</div>	
					<div class="col-md-4 col-lg-4" style="padding-bottom: 20px;">
						<xunk-calendar [selectedDate]="selDate"></xunk-calendar>
					</div>	
					<div class="col-md-4 col-lg-4">
						<div class="" style="padding-left: 5%;">   
							<h3>Hora <span style="font-weight: 100; margin-left: 20px;"> </span></h3>
                            <div class="dropdown" >
                                <button class="dropdown-toggle" id="dropdownMenuButton" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="  position: relative; display: inline-block;   font-size: 14px;  line-height: 24px;  font-weight: 600;  color: #0a267a;  text-transform: uppercase;  background: #ffffff;  padding: 16px 34px;  border-radius: 5px;  transition: all 500ms ease;  border: 0px solid #0a267a;  ">
                                 <i class="flaticon-check-mark"  ></i>
                                        {{this._uw.appointment.time}}
                                 </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" *ngFor="let item  of serviceHours;let i = index" (click)="setHour(item)"  style="cursor: pointer !important;">{{item}}</a>
                                    </div>
                                </div>
                            </div>
                            <div class="clinic-booking" [hidden]="!_uw.isLogged  || sending">
						<a class="apt-btn" style="cursor: pointer;" (click)="goThree()">Agendar</a>
					</div>
					<div style="text-align: center;"  [hidden]="!sending">
							
						<img src="assets/assetsdental/img/tenor.gif"	 style="max-height: 32px;max-width: 32px; text-align: center;	">
						<p></p>
						</div>
					</div>
				</div>	
				<div class="row" [hidden]="!steep3">
					<div class="col-md-7 col-lg-8">
							<div class="card">
								<div class="card-body">
									<div class="payment-widget">
											<h4 class="card-title">Método de pago</h4>

											<!-- Credit Card Payment -->
											<div class="payment-list">
												<label class="payment-radio credit-card-option">
													<input type="radio" name="radio" checked>
													<span class="checkmark"></span>
													Tarjeta de crédito o débito
												</label>
												<div class="row">
													<div class="col-md-6">
														<div class="form-group card-label">
															<label for="card_name">Nombre del titular</label>
															<input class="form-control" id="card_name" type="text">
														</div>
													</div>
													<div class="col-md-6">
														<div class="form-group card-label">
															<label for="card_number">Número de tarjeta</label>
															<input class="form-control" id="card_number" placeholder="1234  5678  9876  5432" type="text">
														</div>
													</div>
													<div class="col-md-4">
														<div class="form-group card-label">
															<label for="expiry_month">Mes de expiración</label>
															<input class="form-control" id="expiry_month" placeholder="MM" type="text">
														</div>
													</div>
													<div class="col-md-4">
														<div class="form-group card-label">
															<label for="expiry_year">Año de Expiración</label>
															<input class="form-control" id="expiry_year" placeholder="YY" type="text">
														</div>
													</div>
													<div class="col-md-4">
														<div class="form-group card-label">
															<label for="cvv">CVV</label>
															<input class="form-control" id="cvv" type="text">
														</div>
													</div>
												</div>
											</div>
											<!-- /Credit Card Payment -->

											<!-- Paypal Payment -->
											<div class="payment-list">
												<label class="payment-radio paypal-option">
													<input type="radio" name="radio">
													<span class="checkmark"></span>
													Paypal
												</label>
											</div>
											<!-- /Paypal Payment -->

											<!-- Terms Accept -->
											<div class="terms-accept">
												<div class="custom-checkbox">
												   <input type="checkbox" id="terms_accept">
												   <label for="terms_accept">He leído y acepto los <a href="term-condition.php">Términos &amp; Condiciones</a></label>
												</div>
											</div>
											<!-- /Terms Accept -->

											<!-- Submit Section -->
											<div class="submit-section mt-4">
												<button type="submit" class="btn btn-primary submit-btn" (click)="onClick()">Confirmar pago</button>
											</div>
											<!-- /Submit Section -->

										</div>
							</div>		
						</div>
					</div>
					<div class="col-md-5 col-lg-4 theiaStickySidebar">

							<!-- Booking Summary -->
							<div class="card booking-card">
								<div class="card-header">
									<h4 class="card-title">Resumen de Cita</h4>
								</div>
								<div class="card-body">

									<!-- Booking Doctor Info -->
									<div class="booking-doc-info">
										<a href="doctor-profile.html" class="booking-doc-img">
											<img src="{{_uw.dentistToApp.images[0]}}" alt="User Image">
										</a>
										<div class="booking-info">
											<h4><a href="doctor-profile.html">Dr.  {{_uw.dentistToApp.name}}</a></h4>
									
										</div>
									</div>
									<!-- Booking Doctor Info -->

									<div class="booking-summary">
										<div class="booking-item-wrap">
											<ul class="booking-date">
												<li>Fecha <span> {{selDate.date }} / {{selDate.month+1}} / {{selDate.year}}</span></li>
												<li>Hora <span> {{this._uw.appointment.time}}</span></li>
												<li>Tipo <span> {{this._uw.appointment.type}}</span></li>
											</ul>
											<ul class="booking-fee">
												<li>Precio de consulta <span> {{_uw.dentistToApp.ta}}</span></li>
											
											</ul>
											<div class="booking-total">
												<ul class="booking-total-list">
													<li>
														<span>Total</span>
														<span class="total-cost"> {{_uw.dentistToApp.ta}}</span>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- /Booking Summary -->

						</div>
					
				</div>		
			</div>
		</div>
	</div>
</div>
