<div class="content">
	<div class="container">

		<div class="card" *ngIf="dentist.images[0]!=undefined">
			<div class="card-body">
				<div class="doctor-widget">
					<div class="doc-info-left">
						<div class="doctor-img">
							<img src="{{dentist.images[0]}}" class="img-fluid" alt="User Image">
						</div>
						<div class="doc-info-cont">
							<h4 class="doc-name">{{dentist.name}}</h4>
							<p class="doc-speciality">{{dentist.about}}</p>
							<!-- <p class="doc-department">Dentist</p> -->
							<!-- <div class="rating">
								<i class="fas fa-star filled"></i>
								<i class="fas fa-star filled"></i>
								<i class="fas fa-star filled"></i>
								<i class="fas fa-star filled"></i>
								<i class="fas fa-star"></i>
								<span class="d-inline-block average-rating">(35)</span>
							</div> -->
							<span>Enviar Mensaje</span>
							<img src="assets/assetsdental/img/sendMessage.jpg" style="width: 42px;" >
							<div class="clinic-details">
								<p class="doc-location">
									<i class="fas fa-map-marker-alt" > </i> {{dentist.address}}</p>

							</div>
							<div class="clinic-details">
								<p class="doc-location">
									<img src="assets/assetsdental/img/specialities/specialities-05.png" class="img-fluid" alt="Speciality"  style="width: 20px;">
									 <i class="fas fa-check" ></i>Especialista verificado

								</p>
							</div>
							
							
							<div class="clinic-services" *ngIf="dentist.specs[0]!=undefined">
								<span  *ngFor="let spec of dentist.specs">
									<div  *ngFor="let sp of _uw.specs">
										<div [hidden]="sp.idspec!=spec">	
										{{sp.name}}
										</div>	
									</div>	
								</span>
							</div>
						</div>
					</div>
				<div class="doc-info-right">
					<div class="clini-infos">
					<ul>
						<li><i class="fas fa-map-marker-alt"></i> {{dentist.address}} </li>
						<li><i class="far fa-money-bill-alt"></i> {{dentist.ta}}€ /hora </li>
						</ul>
				</div>
					<div class="clinic-booking">
						<a class="apt-btn" >Agendar cita</a>
					</div>
					</div>
				</div>
			</div>
		</div>

		<div class="card">
			<div class="card-body pt-0">
				<nav class="user-tabs mb-4">
					<ul class="nav nav-tabs nav-tabs-bottom nav-justified">
						<li class="nav-item">
						<a class="nav-link active" href="#doc_overview" data-toggle="tab">Datos profesionales</a>
						</li>
						<li class="nav-item">
						<a class="nav-link" href="#doc_locations" data-toggle="tab">Lugares de trabajo</a>
						</li>
					</ul>
				</nav>

				<div class="tab-content pt-0">
				<div role="tabpanel" id="doc_overview" class="tab-pane fade show active">
					<div class="row">
					<div class="col-md-12 col-lg-9">
						<div class="widget about-widget">
						<h4 class="widget-title">About Me</h4>
						<p>{{dentist.about}}</p>
						</div>
						<div class="widget education-widget">
							<h4 class="widget-title">Formación académica</h4>
							<div class="experience-box">
								<ul class="experience-list">
									<li *ngFor="let aca of dentist.aca">
										<div class="experience-user">
											<div class="before-circle"></div>
										</div>
										<div class="experience-content">
											<div class="timeline-content">
											<a class="name">{{aca.inst}}</a>
											<div>{{aca.tittle}}</div>
											<span class="time">{{aca.date}}</span>
											</div>
										</div>
									</li>
							<!-- 		<li>
									<div class="experience-user">
									<div class="before-circle"></div>
									</div>
									<div class="experience-content">
									<div class="timeline-content">
									<a class="name">American Dental Medical University</a>
									<div>MDS</div>
									<span class="time">2003 - 2005</span>
									</div>
									</div>
									</li> -->
								</ul>
							</div>
						</div>


						<div class="widget experience-widget">
							<h4 class="widget-title">Experiencia laboral</h4>
							<div class="experience-box">
							<ul class="experience-list">



							<li *ngFor="let lab of dentist.lab">
							<div class="experience-user">
							<div class="before-circle"></div>
							</div>
							<div class="experience-content">
							<div class="timeline-content">
							<a class="name">{{lab.tittle}}</a>
							<span class="time">{{lab.place}} {{lab.years}}</span>
							</div>
							</div>
							</li>
						
							</ul>
							</div>
						</div>


						<div class="widget awards-widget">
							<h4 class="widget-title">Premios</h4>
							<div class="experience-box">
							<ul class="experience-list">



							<li *ngFor="let awa of dentist.awa">
							<div class="experience-user">
							<div class="before-circle"></div>
							</div>
							<div class="experience-content">
							<div class="timeline-content">
							<p class="exp-year">{{awa.date}}</p>
							<h4 class="exp-title">{{awa.award}}</h4>
							<p>{{awa.description}}</p>
							</div>
							</div>
							</li>
							
							</ul>
							</div>
						</div>



					</div>
					</div>
				</div>


				<div role="tabpanel" id="doc_locations" class="tab-pane fade">

				


					<div class="location-list" *ngFor="let place of dentist.workPlaces">
					<div class="row">

					<div class="col-md-6">
					<div class="clinic-content">
					<h4 class="clinic-name"><a >{{place.place}}</a></h4>
				<!-- 	<p class="doc-speciality">MDS - Periodontology and Oral Implantology, BDS</p> -->
		<!-- 			<div class="rating">
					<i class="fas fa-star filled"></i>
					<i class="fas fa-star filled"></i>
					<i class="fas fa-star filled"></i>
					<i class="fas fa-star filled"></i>
					<i class="fas fa-star"></i>
					<span class="d-inline-block average-rating">(4)</span>
					</div> -->
					<div class="clinic-details mb-0">
					<p class="clinic-direction"> <i class="fas fa-map-marker-alt"></i>{{place.location}}<br></p>

					</div>
					</div>
					</div>


					<div class="col-md-6">
					<div class="clinic-timing">

					<div *ngFor="let schedule of place.schedules">
					<p class="timings-days">
					<span> {{schedule.days}}</span>
					</p>
					<p class="timings-times">
					<span>{{schedule.period}}</span>
			
					</p>
					</div>

					</div>
					</div>


					</div>
					</div>

				</div>


		
				</div>
			</div>
		</div>

	</div>
</div>