<div class="content success-page-cont">
	<div class="container-fluid">

		<div class="row justify-content-center">
			<div class="col-lg-6">

				<!-- Success Card -->
				<div class="card success-card">
					<div class="card-body">
						<div class="success-cont">
							<i class="fas fa-check"></i>
							<h3>Su cita ha sido agendada con éxito</h3>
							<p> <strong>{{_uw.appointment.date}}</strong><br>  <strong></strong></p>
							<p> <strong>{{_uw.appointment.time}}</strong><br>  <strong></strong></p>
							<a routerLink="/dashboard" class="btn btn-primary view-inv-btn" style="color: white;">Ok!</a>
						</div>
					</div>
				</div>
				<!-- /Success Card -->

			</div>
		</div>

	</div>
</div>