<!-- Breadcrumb -->
			<div class="breadcrumb-bar">
				<div class="container-fluid">
					<div class="row align-items-center">
						<div class="col-md-8 col-12">
							<nav aria-label="breadcrumb" class="page-breadcrumb">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="index.php">Inicio</a></li>
									<li class="breadcrumb-item active" aria-current="page">Buscar</li>
								</ol>
							</nav>
							<h2 class="breadcrumb-title">245 Dentistas encontrados</h2>
						</div>
						<div class="col-md-4 col-12 d-md-block d-none">
							<div class="sort-by">
								<span class="sort-title">Ordenar por</span>
								<span class="sortby-fliter">
									<select class="select">
										<option>Ordenar por</option>
										<option class="sorting">Ranking</option>
										<option class="sorting">Popularidad</option>
										<option class="sorting">Últimos</option>
										<option class="sorting">Todos</option>
									</select>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /Breadcrumb -->

			<!-- Page Content -->
			<div class="content">
				<div class="container-fluid">

					<div class="row">
						<div class="col-md-12 col-lg-4 col-xl-3 theiaStickySidebar">

							<!-- Search Filter -->
							<div class="card search-filter">
								<div class="card-header">
									<h4 class="card-title mb-0">Buscar por filtros</h4>
								</div>
								<div class="card-body">
								<div class="filter-widget">
									<div class="cal-icon">
										<input type="text" class="form-control datetimepicker" placeholder="Seleccionar día">
									</div>
								</div>
								<div class="filter-widget">
									<h4>Género</h4>
									<div>
										<label class="custom_check">
											<input type="checkbox" name="gender_type" checked>
											<span class="checkmark"></span> Masculino
										</label>
									</div>
									<div>
										<label class="custom_check">
											<input type="checkbox" name="gender_type">
											<span class="checkmark"></span> Femenino
										</label>
									</div>
								</div>
								<div class="filter-widget">
									<h4>Seleccionar especialización</h4>
									<div>
										<label class="custom_check">
											<input type="checkbox" name="select_specialist" checked>
											<span class="checkmark"></span> Implantología
										</label>
									</div>
									<div>
										<label class="custom_check">
											<input type="checkbox" name="select_specialist" checked>
											<span class="checkmark"></span> Ortodoncia
										</label>
									</div>
									<div>
										<label class="custom_check">
											<input type="checkbox" name="select_specialist">
											<span class="checkmark"></span> Peridoncia
										</label>
									</div>
									<div>
										<label class="custom_check">
											<input type="checkbox" name="select_specialist">
											<span class="checkmark"></span> Endodoncia
										</label>
									</div>
									<div>
										<label class="custom_check">
											<input type="checkbox" name="select_specialist">
											<span class="checkmark"></span> Odontopediatría
										</label>
									</div>
									<div>
										<label class="custom_check">
											<input type="checkbox" name="select_specialist">
											<span class="checkmark"></span> Estética Dental
										</label>
									</div>
									<div>
										<label class="custom_check">
											<input type="checkbox" name="select_specialist">
											<span class="checkmark"></span> Limpieza Bucal
										</label>
									</div>
								</div>
									<div class="btn-search">
										<button type="button" class="btn btn-block">Buscar</button>
									</div>
								</div>
							</div>
							<!-- /Search Filter -->

						</div>

						<div class="col-md-12 col-lg-8 col-xl-9">

							<!-- Doctor Widget -->
							<div class="card">
								<div class="card-body">
									<div class="doctor-widget">
										<div class="doc-info-left">
											<div class="doctor-img">
												<a href="doctor-profile.php">
													<img src="assets/assetsdental/img/doctors/doctor.png" class="img-fluid" alt="User Image">
												</a>
											</div>
											<div class="doc-info-cont">
												<h4 class="doc-name"><a href="doctor-profile.php">Dr. Francisco García Duarte</a></h4>
												<p class="doc-speciality">Especialista en Peridoncia y Ortodoncia</p>
												<h5 class="doc-department"><img src="assets/assetsdental/img/doctors/doctor.png" class="img-fluid" alt="Speciality">Dentist</h5>
												<div class="rating">
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star"></i>
													<span class="d-inline-block average-rating">(17)</span>
												</div>
												<div class="clinic-details">
													<p class="doc-location"><i class="fas fa-map-marker-alt"></i> Palma de Mallorca, España</p>
													<ul class="clinic-gallery">
														<li>
															<a href="assets/assetsdental/img/doctors/doctor.png" data-fancybox="gallery">
																<img src="assets/assetsdental/img/doctors/doctor.png" alt="Feature">
															</a>
														</li>
														<li>
															<a href="assets/assetsdental/img/doctors/doctor.png" data-fancybox="gallery">
																<img src="assets/assetsdental/img/doctors/doctor.png" alt="Feature">
															</a>
														</li>
														<li>
															<a href="assets/assetsdental/img/doctors/doctor.png" data-fancybox="gallery">
																<img src="assets/assetsdental/img/doctors/doctor.png" alt="Feature">
															</a>
														</li>
													</ul>
												</div>
												<div class="clinic-services">
													<span>Ortodoncia</span>
													<span>Peridoncia</span>
												</div>
											</div>
										</div>
										<div class="doc-info-right">
											<div class="clini-infos">
												<ul>
													<li><i class="far fa-thumbs-up"></i> 98%</li>
													<li><i class="far fa-comment"></i> 17 Respuestas</li>
													<li><i class="fas fa-map-marker-alt"></i> Palma de Mallorca</li>
													<li><i class="far fa-money-bill-alt"></i> 50€ - 300€ <i class="fas fa-info-circle" data-toggle="tooltip" title="Lorem Ipsum"></i> </li>
												</ul>
											</div>
											<div class="clinic-booking">
												<a class="view-pro-btn" href="doctor-profile.php">Ver Perfil</a>
												<a class="apt-btn" href="booking.php">Pedir Cita Ahora</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- /Doctor Widget -->

							<!-- Doctor Widget -->
							<div class="card">
								<div class="card-body">
									<div class="doctor-widget">
										<div class="doc-info-left">
											<div class="doctor-img">
												<a href="doctor-profile.php">
													<img src="assets/assetsdental/img/doctors/doctor.png" class="img-fluid" alt="User Image">
												</a>
											</div>
											<div class="doc-info-cont">
												<h4 class="doc-name"><a href="doctor-profile.php">Dr. Francisco García Duarte</a></h4>
												<p class="doc-speciality">Especialista en Peridoncia y Ortodoncia</p>
												<h5 class="doc-department"><img src="assets/assetsdental/img/doctors/doctor.png" class="img-fluid" alt="Speciality">Dentist</h5>
												<div class="rating">
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star"></i>
													<span class="d-inline-block average-rating">(17)</span>
												</div>
												<div class="clinic-details">
													<p class="doc-location"><i class="fas fa-map-marker-alt"></i> Palma de Mallorca, España</p>
													<ul class="clinic-gallery">
														<li>
															<a href="assets/assetsdental/img/doctors/doctor.png" data-fancybox="gallery">
																<img src="assets/assetsdental/img/doctors/doctor.png" alt="Feature">
															</a>
														</li>
														<li>
															<a href="assets/assetsdental/img/doctors/doctor.png" data-fancybox="gallery">
																<img src="assets/assetsdental/img/doctors/doctor.png" alt="Feature">
															</a>
														</li>
														<li>
															<a href="assets/assetsdental/img/doctors/doctor.png" data-fancybox="gallery">
																<img src="assets/assetsdental/img/doctors/doctor.png" alt="Feature">
															</a>
														</li>
													</ul>
												</div>
												<div class="clinic-services">
													<span>Ortodoncia</span>
													<span>Peridoncia</span>
												</div>
											</div>
										</div>
										<div class="doc-info-right">
											<div class="clini-infos">
												<ul>
													<li><i class="far fa-thumbs-up"></i> 98%</li>
													<li><i class="far fa-comment"></i> 17 Respuestas</li>
													<li><i class="fas fa-map-marker-alt"></i> Palma de Mallorca</li>
													<li><i class="far fa-money-bill-alt"></i> 50€ - 300€ <i class="fas fa-info-circle" data-toggle="tooltip" title="Lorem Ipsum"></i> </li>
												</ul>
											</div>
											<div class="clinic-booking">
												<a class="view-pro-btn" href="doctor-profile.php">Ver Perfil</a>
												<a class="apt-btn" href="booking.php">Pedir Cita Ahora</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- /Doctor Widget -->

							<!-- Doctor Widget -->
							<div class="card">
								<div class="card-body">
									<div class="doctor-widget">
										<div class="doc-info-left">
											<div class="doctor-img">
												<a href="doctor-profile.php">
													<img src="assets/assetsdental/img/doctors/doctor.png" class="img-fluid" alt="User Image">
												</a>
											</div>
											<div class="doc-info-cont">
												<h4 class="doc-name"><a href="doctor-profile.php">Dr. Francisco García Duarte</a></h4>
												<p class="doc-speciality">Especialista en Peridoncia y Ortodoncia</p>
												<h5 class="doc-department"><img src="assets/assetsdental/img/doctors/doctor.png" class="img-fluid" alt="Speciality">Dentist</h5>
												<div class="rating">
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star"></i>
													<span class="d-inline-block average-rating">(17)</span>
												</div>
												<div class="clinic-details">
													<p class="doc-location"><i class="fas fa-map-marker-alt"></i> Palma de Mallorca, España</p>
													<ul class="clinic-gallery">
														<li>
															<a href="assets/assetsdental/img/doctors/doctor.png" data-fancybox="gallery">
																<img src="assets/assetsdental/img/doctors/doctor.png" alt="Feature">
															</a>
														</li>
														<li>
															<a href="assets/assetsdental/img/doctors/doctor.png" data-fancybox="gallery">
																<img src="assets/assetsdental/img/doctors/doctor.png" alt="Feature">
															</a>
														</li>
														<li>
															<a href="assets/assetsdental/img/doctors/doctor.png" data-fancybox="gallery">
																<img src="assets/assetsdental/img/doctors/doctor.png" alt="Feature">
															</a>
														</li>
													</ul>
												</div>
												<div class="clinic-services">
													<span>Ortodoncia</span>
													<span>Peridoncia</span>
												</div>
											</div>
										</div>
										<div class="doc-info-right">
											<div class="clini-infos">
												<ul>
													<li><i class="far fa-thumbs-up"></i> 98%</li>
													<li><i class="far fa-comment"></i> 17 Respuestas</li>
													<li><i class="fas fa-map-marker-alt"></i> Palma de Mallorca</li>
													<li><i class="far fa-money-bill-alt"></i> 50€ - 300€ <i class="fas fa-info-circle" data-toggle="tooltip" title="Lorem Ipsum"></i> </li>
												</ul>
											</div>
											<div class="clinic-booking">
												<a class="view-pro-btn" href="doctor-profile.php">Ver Perfil</a>
												<a class="apt-btn" href="booking.php">Pedir Cita Ahora</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- /Doctor Widget -->

							<!-- Doctor Widget -->
							<div class="card">
								<div class="card-body">
									<div class="doctor-widget">
										<div class="doc-info-left">
											<div class="doctor-img">
												<a href="doctor-profile.php">
													<img src="assets/assetsdental/img/doctors/doctor.png" class="img-fluid" alt="User Image">
												</a>
											</div>
											<div class="doc-info-cont">
												<h4 class="doc-name"><a href="doctor-profile.php">Dr. Francisco García Duarte</a></h4>
												<p class="doc-speciality">Especialista en Peridoncia y Ortodoncia</p>
												<h5 class="doc-department"><img src="assets/assetsdental/img/doctors/doctor.png" class="img-fluid" alt="Speciality">Dentist</h5>
												<div class="rating">
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star"></i>
													<span class="d-inline-block average-rating">(17)</span>
												</div>
												<div class="clinic-details">
													<p class="doc-location"><i class="fas fa-map-marker-alt"></i> Palma de Mallorca, España</p>
													<ul class="clinic-gallery">
														<li>
															<a href="assets/assetsdental/img/doctors/doctor.png" data-fancybox="gallery">
																<img src="assets/assetsdental/img/doctors/doctor.png" alt="Feature">
															</a>
														</li>
														<li>
															<a href="assets/assetsdental/img/doctors/doctor.png" data-fancybox="gallery">
																<img src="assets/assetsdental/img/doctors/doctor.png" alt="Feature">
															</a>
														</li>
														<li>
															<a href="assets/assetsdental/img/doctors/doctor.png" data-fancybox="gallery">
																<img src="assets/assetsdental/img/doctors/doctor.png" alt="Feature">
															</a>
														</li>
													</ul>
												</div>
												<div class="clinic-services">
													<span>Ortodoncia</span>
													<span>Peridoncia</span>
												</div>
											</div>
										</div>
										<div class="doc-info-right">
											<div class="clini-infos">
												<ul>
													<li><i class="far fa-thumbs-up"></i> 98%</li>
													<li><i class="far fa-comment"></i> 17 Respuestas</li>
													<li><i class="fas fa-map-marker-alt"></i> Palma de Mallorca</li>
													<li><i class="far fa-money-bill-alt"></i> 50€ - 300€ <i class="fas fa-info-circle" data-toggle="tooltip" title="Lorem Ipsum"></i> </li>
												</ul>
											</div>
											<div class="clinic-booking">
												<a class="view-pro-btn" href="doctor-profile.php">Ver Perfil</a>
												<a class="apt-btn" href="booking.php">Pedir Cita Ahora</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- /Doctor Widget -->

							<!-- Doctor Widget -->
							<div class="card">
								<div class="card-body">
									<div class="doctor-widget">
										<div class="doc-info-left">
											<div class="doctor-img">
												<a href="doctor-profile.php">
													<img src="assets/assetsdental/img/doctors/doctor.png" class="img-fluid" alt="User Image">
												</a>
											</div>
											<div class="doc-info-cont">
												<h4 class="doc-name"><a href="doctor-profile.php">Dr. Francisco García Duarte</a></h4>
												<p class="doc-speciality">Especialista en Peridoncia y Ortodoncia</p>
												<h5 class="doc-department"><img src="assets/assetsdental/img/doctors/doctor.png" class="img-fluid" alt="Speciality">Dentist</h5>
												<div class="rating">
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star"></i>
													<span class="d-inline-block average-rating">(17)</span>
												</div>
												<div class="clinic-details">
													<p class="doc-location"><i class="fas fa-map-marker-alt"></i> Palma de Mallorca, España</p>
													<ul class="clinic-gallery">
														<li>
															<a href="assets/assetsdental/img/doctors/doctor.png" data-fancybox="gallery">
																<img src="assets/assetsdental/img/doctors/doctor.png" alt="Feature">
															</a>
														</li>
														<li>
															<a href="assets/assetsdental/img/doctors/doctor.png" data-fancybox="gallery">
																<img src="assets/assetsdental/img/doctors/doctor.png" alt="Feature">
															</a>
														</li>
														<li>
															<a href="assets/assetsdental/img/doctors/doctor.png" data-fancybox="gallery">
																<img src="assets/assetsdental/img/doctors/doctor.png" alt="Feature">
															</a>
														</li>
													</ul>
												</div>
												<div class="clinic-services">
													<span>Ortodoncia</span>
													<span>Peridoncia</span>
												</div>
											</div>
										</div>
										<div class="doc-info-right">
											<div class="clini-infos">
												<ul>
													<li><i class="far fa-thumbs-up"></i> 98%</li>
													<li><i class="far fa-comment"></i> 17 Respuestas</li>
													<li><i class="fas fa-map-marker-alt"></i> Palma de Mallorca</li>
													<li><i class="far fa-money-bill-alt"></i> 50€ - 300€ <i class="fas fa-info-circle" data-toggle="tooltip" title="Lorem Ipsum"></i> </li>
												</ul>
											</div>
											<div class="clinic-booking">
												<a class="view-pro-btn" href="doctor-profile.php">Ver Perfil</a>
												<a class="apt-btn" href="booking.php">Pedir Cita Ahora</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- /Doctor Widget -->

							<div class="load-more text-center">
								<a class="btn btn-primary btn-sm" href="javascript:void(0);">Load More</a>
							</div>
						</div>
					</div>

				</div>

			</div>